USE [master]
GO
/****** Object:  Database [BanHang]    Script Date: 2/14/2025 8:07:27 PM ******/
CREATE DATABASE [BanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanHang_Data', FILENAME = N'D:\BanHang_Data.mdf' , SIZE = 51200KB , MAXSIZE = 204800KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BanHang_Log', FILENAME = N'D:\BanHang_Log.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHang]
GO
/****** Object:  Table [dbo].[tblCTDONDH]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTDONDH](
	[SoDH] [int] NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLDat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCTPNHAP]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTPNHAP](
	[SoPN] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCTPXUAT]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTPXUAT](
	[SoPX] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLXuat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPX] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDONDH]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDONDH](
	[SoDH] [int] NOT NULL,
	[NgayDH] [datetime] NULL,
	[MaNhaCC] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNHACC]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNHACC](
	[MaNhaCC] [char](4) NOT NULL,
	[TenNhaCC] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](30) NULL,
	[DienThoai] [char](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPNHAP]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPNHAP](
	[SoPN] [char](4) NOT NULL,
	[SoDH] [int] NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPXUAT]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPXUAT](
	[SoPX] [char](4) NOT NULL,
	[NgayXuat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTONKHO]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTONKHO](
	[NAMTHANG] [char](7) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[TONGNHAP] [int] NULL,
	[TONGXUAT] [int] NULL,
	[SLTonKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVATTU]    Script Date: 2/14/2025 8:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVATTU](
	[MaVTu] [char](4) NOT NULL,
	[TenVtu] [nvarchar](30) NULL,
	[DVTinh] [nvarchar](10) NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCTDONDH] ([SoDH], [MaVTu], [SLDat]) VALUES (1, N'VT01', 100)
INSERT [dbo].[tblCTDONDH] ([SoDH], [MaVTu], [SLDat]) VALUES (1, N'VT02', 500)
GO
INSERT [dbo].[tblCTPNHAP] ([SoPN], [MaVTu], [SLNhap]) VALUES (N'PN01', N'VT01', 100)
INSERT [dbo].[tblCTPNHAP] ([SoPN], [MaVTu], [SLNhap]) VALUES (N'PN01', N'VT02', 500)
GO
INSERT [dbo].[tblCTPXUAT] ([SoPX], [MaVTu], [SLXuat]) VALUES (N'PX01', N'VT01', 50)
GO
INSERT [dbo].[tblDONDH] ([SoDH], [NgayDH], [MaNhaCC]) VALUES (1, CAST(N'2024-02-10T00:00:00.000' AS DateTime), N'NCC1')
GO
INSERT [dbo].[tblNHACC] ([MaNhaCC], [TenNhaCC], [DiaChi], [DienThoai]) VALUES (N'NCC1', N'Công ty VLXD A', N'123 Đường A', N'0901234567     ')
INSERT [dbo].[tblNHACC] ([MaNhaCC], [TenNhaCC], [DiaChi], [DienThoai]) VALUES (N'NCC2', N'Công ty VLXD B', N'456 Đường B', N'0907654321     ')
GO
INSERT [dbo].[tblPNHAP] ([SoPN], [SoDH], [NgayNhap]) VALUES (N'PN01', 1, CAST(N'2024-02-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tblPXUAT] ([SoPX], [NgayXuat]) VALUES (N'PX01', CAST(N'2024-02-15T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tblTONKHO] ([NAMTHANG], [MaVTu], [TONGNHAP], [TONGXUAT], [SLTonKho]) VALUES (N'2024-02', N'VT01', 100, 50, 50)
GO
INSERT [dbo].[tblVATTU] ([MaVTu], [TenVtu], [DVTinh], [DonGia]) VALUES (N'VT01', N'Xi măng', N'bao', 120000)
INSERT [dbo].[tblVATTU] ([MaVTu], [TenVtu], [DVTinh], [DonGia]) VALUES (N'VT02', N'Gạch', N'viên', 1500)
GO
ALTER TABLE [dbo].[tblCTDONDH]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[tblVATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[tblCTDONDH]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[tblDONDH] ([SoDH])
GO
ALTER TABLE [dbo].[tblCTPNHAP]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[tblVATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[tblCTPNHAP]  WITH CHECK ADD FOREIGN KEY([SoPN])
REFERENCES [dbo].[tblPNHAP] ([SoPN])
GO
ALTER TABLE [dbo].[tblCTPXUAT]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[tblVATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[tblCTPXUAT]  WITH CHECK ADD FOREIGN KEY([SoPX])
REFERENCES [dbo].[tblPXUAT] ([SoPX])
GO
ALTER TABLE [dbo].[tblDONDH]  WITH CHECK ADD FOREIGN KEY([MaNhaCC])
REFERENCES [dbo].[tblNHACC] ([MaNhaCC])
GO
ALTER TABLE [dbo].[tblPNHAP]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[tblDONDH] ([SoDH])
GO
ALTER TABLE [dbo].[tblTONKHO]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[tblVATTU] ([MaVTu])
GO
USE [master]
GO
